#main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
}

.login_left {
    width: 1000px;
    height: 600px;
    border: 1px solid red;
    float: left;
    display: flex;
    margin-left: auto;
}


.login_right {
    width: 400px;
    height: 600px;
    border: 1px solid green;
    float: left;
    margin-right: auto;
}

.firstComment {
    background-color: #E6F2F2;
    width: 320px;
    height: 70px;
    border-radius: 10px;
    border-width: 0px;
    margin-right: 10px;
    font-size: 23px;
    color: white;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 36px;
    text-align: center;

    color: #000000;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: flex;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.secondComment {
    background-color: #F4F9FA;
    width: 320px;
    border-radius: 10px;
    border-width: 0px;
    margin-right: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 36px;
    text-align: center;

    color: #000000;    
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: #4499c6;
    width: 320px;
    height: 70px;
    border-radius: 10px;
    border-width: 0px;
    color: white;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 36px;
    text-align: center;

    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

span {
    font-style: italic;
}